.Contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: rgba(0, 0, 0, 0.337);
    bottom: 50px;
   }

.Contenedor:hover{
    background-color: rgba(0, 0, 0, 0.661);
    border-top-left-radius: 50px;
    border-bottom-right-radius:50px ;
    border-color: rgb(169, 41, 41);
}

.Nombre{
    color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}
.Nombre:Hover{
   
    color: rgb(255, 0, 0);
    border-top-left-radius: 80px;
}

.Datos{
    color:white;
    padding:10px;
    
}

.Imagen{
    border-top-left-radius: 30%;
    border-bottom-right-radius:30% ;
    box-shadow: 0px 0px 20px rgb(0, 247, 255);
}

.Imagen:hover{
    box-shadow: 0px 0px 50px rgb(0, 247, 255);
}

.ImagenContainer{
    position: absolute;
    left: 130px;
    
}

