.Contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    
}

.Form{
    box-shadow: 0px 0px 30px rgb(255, 255, 255);;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 40px;
    width: auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.568);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 10px solid transparent; /* Establece un borde transparente */
    box-shadow: 0 0 10px 5px rgb(255, 255, 255); /* Establece una sombra difuminada */
    
}

.Datos{
    font-weight: bold;
    font-size:x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.Datos2{
    display: flex;
    align-content: center;
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent; /* Establece un borde transparente */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3); /* Establece una sombra difuminada */
}

.Button{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 50%; display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100px;
    height: 10px;
    padding: 14px;
    font-weight: bold;
    font-size: medium;
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.Button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}


