.Carta {
    position: relative;
    width: 400px;
    height: 250px;
    background-image: url('../Img/Credencial.jpg');
    margin: 5px;
    border: 1px solid #ffffff;
    box-shadow: 5px 6px 5px 0px #94d0d2;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    text-align: center;
    
  }
  .AllDatos{
    display: flex;
    flex-direction: column;
    
     
  }
  
   .Datos{
    margin: 10px;
    padding-left: 145px;
    width: 248px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: black;
    background-color: #fefefe00;
   }

   .Datos:hover{
    background-color: #fefefe5d;
   }
  
  .Boton {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #f44336;
      color: rgb(0, 0, 0);
      border-radius: 50%;
      cursor: pointer;
      font-size: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
    
      box-shadow: 2px 2px 2px #888;
    }
    
    .Boton:hover {
     background-color: rgba(0, 0, 0, 0.749);
     color: red; 
    } 
    .Imagen {
      width: 135px;
      height: 131px;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #4eb5f0;
      padding: 4px;
      box-shadow: 2px 2px 2px #888;
  }

  